<div class="col-md-10 col-md-offset-1">
  <div>
    <a [routerLink]="['/admin/courses']" class="btn btn-default"> Back</a>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
    <div *ngIf="status=='success'" class="alert alert-success" role="alert"> {{ message }} </div>
    <div *ngIf="status=='error'" class="alert alert-danger" role="alert"> {{ message }} </div>  <div class="well well bs-component">
    <form novalidate class="form-horizontal" (ngSubmit)="updateCourse(course)" #editCourseForm="ngForm">
      <fieldset>
        <legend>Updating: {{course.course}}</legend>
        <div class="form-group">
          <label for="image" class="col-lg-2 control-label">Course Image</label>
          <div class="col-lg-10">
            <input type="url" class="form-control" id="image" name="image" placeholder="Link of the image" [(ngModel)]="course.image" #image="ngModel">
          </div>
        </div>
        <div class="form-group">
          <label for="course" class="col-lg-2 control-label">Course Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="course1" name="course1" placeholder="Course Name" [(ngModel)]="course.course" #course1="ngModel" required />
            <div *ngIf="course1.errors?.required && course1.dirty" class="alert alert-danger">
              Course Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-lg-2 control-label">Description of {{course.course}}</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="description" name="description" [(ngModel)]="course.description" #description="ngModel" required></textarea>
            <div *ngIf="description.errors?.required && description.dirty" class="alert alert-danger">
              Description is required
            </div>
          </div>
        </div>
        <div class="form-group">
	        <div class="col-md-6">
	          <label for="start_maxile_score" class="col-lg-2 control-label">Start Maxile Score</label>
	          <div class="col-lg-10">
	            <input class="form-control" id="start_maxile_score" name="start_maxile_score" [(ngModel)]="course.start_maxile_score" #start_maxile_score="ngModel" type="number"/>
	          </div>
	        </div>
	        <div class="col-md-6">
	          <label for="end_maxile_score" class="col-lg-2 control-label">End Maxile Score</label>
	          <div class="col-lg-10">
	            <input class="form-control" id="end_maxile_score" name="end_maxile_score" [(ngModel)]="course.end_maxile_score" #end_maxile_score="ngModel" type="number"/>
	          </div>
	        </div>
		</div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <a [routerLink]="['/admin/']" class="btn btn-default"> Cancel</a>
            <button type="submit" class="btn btn-primary" [disabled]="editCourseForm.invalid">Update</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>