<div class="col-md-10 col-md-offset-1">
  <div>
    <a [routerLink]="['/admin/']" class="btn btn-default"> Back</a>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="well well bs-component">
    <form novalidate class="form-horizontal" (ngSubmit)="createCourse(createCourseForm.value)" #createCourseForm="ngForm">
      <fieldset>
        <legend>Add a new course</legend>
        <div class="form-group">
            <label for="image" class="col-lg-2 control-label">URL of Course Image</label>
            <div class="col-lg-10">
              <input type="url" class="form-control" id="image" name="image" placeholder="Link of the image" ngModel>
            </div>
        </div>
        <div class="form-group">
          <label for="title" class="col-lg-2 control-label">Course Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="course" name="course" placeholder="Course Name" #course="ngModel" ngModel required>
            <div *ngIf="course.errors?.required && course.touched" class="alert alert-danger">Course name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="description" name="description" placeholder="Description of the course" #description="ngModel" ngModel required></textarea>
            <div *ngIf="description.errors?.required && description.touched" class="alert alert-danger">Description is required</div>
          </div>
        </div>
        <div class = "col-md-6">
	      <div class="form-group">
	        <label for="start_maxile_core" class="col-lg-4 control-label">Start Maxile Score</label>
	          <div class="col-lg-8">
	            <input class="form-control" rows="3" id="start_maxile_score" name="start_maxile_score" placeholder="Starting Score" type="number" ngModel/>
	          </div>
	      </div>
        </div>
        <div class = "col-md-6">
	      <div class="form-group">
	        <label for="start_maxile_core" class="col-lg-4 control-label">End Maxile Score</label>
	          <div class="col-lg-8">
	            <input class="form-control" rows="3" id="end_maxile_score" name="end_maxile_score" placeholder="Graduating Score" type="number" ngModel/>
	          </div>
	      </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
			<a [routerLink]="['/admin/']" class="btn btn-default"> Cancel</a>
            <button type="submit" class="btn btn-primary"[disabled]="createCourseForm.invalid">Create</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>