<div class="col-md-10 col-md-offset-1">
  <div>
      <a [routerLink]="['/admin/']" class="btn btn-default"> Back</a>
      <a [routerLink]="['/admin/courses/create']" class="btn btn-success"> New Course</a>
  </div>
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Course</th>
        <th>Course Name</th>
        <th>Description</th>
        <th>Start Maxile Score</th>
        <th>End Maxile Score</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let course of courses | async">
        <td><img src="{{course.image}}" width="200"/></td>
        <td>{{course.course}} </td>
        <td>{{course.description}}</td>
        <td>{{course.start_maxile_score}}</td>
        <td>{{course.end_maxile_score}}</td>
        <td>
          <a [routerLink]="['/admin/courses/edit', course.id]" class="btn btn-info"> Edit</a>
          <a [routerLink]="['/admin/courses/delete', course.id]" class="btn btn-danger"> Delete</a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>